.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  color: white;
}

.content img {
  margin-bottom: 70px;
  max-width: 70vw;
}

.content h3 {
  font-size: 2rem;
}

.info {
  max-width: 500px;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .content img {
    margin-bottom: 15px;
  }

  .content h3 {
    font-size: 1.4rem;
  }

  .content img {
    max-width: 90vw;
  }
}
