.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.content img {
  margin-bottom: 90px;
  max-width: 70vw;
}

.content h3 {
  font-size: 2rem;
}

.info {
  max-width: 500px;
  text-align: center;
}
