@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&family=Source+Sans+Pro:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: 0;
  /* background-color: var(--color-grey-900); */
  color: #252525;
  font-family: "Roboto", sans-serif;
  font-family: "Poppins", "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
}
